* {
    box-sizing: border-box;
  }

  html {
    background: linear-gradient(180deg, cadetblue 20%, gainsboro -80%);
    background-repeat: no-repeat;
    min-width: 100%;
    min-height: 100%;
  }

  

#title {
    color:white;
padding-top: 5vh;
padding-left: 20vh;
font-size: 12vh;
font-family: Arial, Helvetica, sans-serif;
font-weight: bold;
font-display: center;
max-width: 40vh;
}

#title span {
    background-color:  #222842;
    padding: 3vh;
    border-radius: 5px;
}


#menu li{
    display: inline-block;
    height: 125px;  
    justify-items: space-around;
}

ul {
list-style-type: none;
position: fixed;
top: 0;
padding-left: 75vh;
padding-top: 5vh;
background-color: transparent;
}



  a {
    display: block;
    padding: 8px;
    background-color: #222842;
    color:white;

    text-align: center;
    border-radius: 5px;
    margin: 5vh;
    font-family: Arial, Helvetica, sans-serif;
  }


  .bottombar {
      background-color: cadetblue;
      overflow: hidden;
      position: fixed;
  bottom: 0;
  right: 0;
  min-width:100%;
height: 33vh;
color: white;
font-family: Arial, Helvetica, sans-serif;
font-size: small;
margin:auto;
text-align: center;
line-height: 20vh;
  }

  .bottombar a {
      display: contents;
      right: 0;
z-index: 2;
background-color: transparent;
  }
/*Phones*/
@media only screen and (max-width: 767px) {
html {
    background-color: gainsboro;
}

#title {
    justify-items: center;
    margin-left: 0;
    max-width:100%;
    min-width: 100%;
    object-fit: fill;
}
a {
    margin: 0;
    border-radius: 0;
}

}
   

/*Tablets*/
@media only screen and (min-width: 768px) {

}

/*Computers*/
@media only screen and (min-width: 992px) {

}
